[defaults]
# additional paths to search for roles in, colon separated
roles_path    = {{root}}/playbooks/roles:{{root}}/prepare/roles

# uncomment this to disable SSH key host checking
host_key_checking = False