# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /mongodb/log/mongod.log

# Where and how to store data.
storage:
  dbPath: /mongodb/data
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# how the process runs
processManagement:
  fork: false  # fork and run in background
  pidFilePath: /mongodb/mongod.pid  # location of pidfile
  timeZoneInfo: /usr/share/zoneinfo

# network interfaces
net:
  port: {{ mongo_port }}
  bindIp: {{ ansible_default_ipv4.address }}

#security:

#operationProfiling:

replication:
  # oplogSizeMB: 1024
  replSetName: {{ replSetName }}

#sharding:

## Enterprise-Only Options

#auditLog:

#snmp: